/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}
h1{
  font-size: 60px;
  line-height: 90px;
}
h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
h3{

}
h4{
  font-size: 35px;
  font-weight: 600;
  line-height: 70px;
}
h5{
  font-size: 20px;
  line-height: 25px;
  margin: 5px 0;
}

a{
  color: #33475B;
  text-decoration: none;
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}
.clear{
  content: "";
  display: table;
  clear: both;
}
.padding_default{
  padding: 0 200px;
}
.button_orange{
  color:#fff;
  background-color: #FE775A;
  border-radius: 5px;
  font-size: 15px;
  border: none;
}
/* /REGOLE GENERALI */


/* REGOLE MENU */
.menu_top{
  height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  font-size: 20px;
  font-weight: 700;
}
.menu_top_left{
  width: 50%;
  height:100%;
  line-height: 80px;
  vertical-align: middle;
}
.menu_top_left span{
  padding: 0 5px;
}
.menu_top_right{
  width: 50%;
  height:100%;
  line-height: 80px;
  vertical-align: middle;
  text-align: right;
}
.menu_top_right .button_orange{
  padding: 10px 20px;
  margin:0 10px;
}
.button_login{
  color: #FE775A;
  background-color: #fff;
  border: 2px solid #FE775A;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  margin:0 10px;
}
.ico_blue{
  color:#1FAFC5;
}
/* /fine regole menu top */
.menu_bottom{
  height: 80px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
}
.menu_bottom_left{
  width: 30%;
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
}
.menu_bottom_right{
  width: 70%;
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
  text-align: right;
}
.menu_bottom_right ul{
  list-style: none;
}
.menu_bottom_right li{
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  margin: 0 15px;
}
.menu_bottom_right li span{
  margin: 0 15px;
}
/* /fine regole menu bottom */
/* REGOLE MAIN */
.jumbo{
  height: 800px;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 11%;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo_display{
  width: 50%;
  padding-top: 80px;
}
.jumbo_display p{
  font-size: 20px;
  line-height: 45px;
  margin: 20px 0;
}
.button_jumbo{
  margin: 20px 0;
  padding: 20px 40px;
}
/* /fine regole jumbo */
.banner_empty{
  height: 80px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* /fine regole banner empty */
.services{
  height: 2000px;
  background-color: #F4F9FD;
}
.services p{
  font-size: 15px;
  line-height: 25px;
  margin: 5px 0;
}
.services_box_border{
  border: 3px solid #E7EDF2;
  border-radius: 5px;
}

.services_one{
  width: 50%;
  margin: auto;
  height: 300px;
  padding: 50px 0;
  text-align: center;
}
.services_one img{
  height: 100px;
}

.services_two{
  width: 100%;
  margin: auto;
  height: 300px;
  padding: 50px 0;
  margin-top: 50px;
}
.services_two_img{
  width: 40%;
  height: 300px;
  text-align: center;
}
.services_two_img img{
  height: 100px;
}
.services_two_img button{
  margin-top: 100px;
}
.services_two_text{
  width: 40%;
  height: 300px;
}
.popolar_feature{
  margin-top: 40px;
  line-height: 25px;
  vertical-align: middle;
}
.popolar_feature_text{
  width: 190px;
}
.popolar_feature_hr{
  width: 300px;
}
.popolar_feature_hr hr{
  margin-top: 1em;
}
.services_two_text span{
  margin-top: 15px;
  margin-right: 30px;
}
.services_two_text i{
  margin-top: 15px;
  color: #FE775A;
  margin-right: 30px;
}
.services_tree{

}


.numbers{
  height: 700px;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
.partners{
  height: 700px;
  background-color: blue;
}
/* REGOLE FOOTER */
.footer_top{
  height: 300px;
  background-color: #32495B;
}
.footer_bottom{
  height: 200px;
  background-color: blue;
}
