/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #33475B;
}
h1{
  font-size: 60px;
  line-height: 90px;
}
h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
h3{
  font-size: 20px;
  line-height: 25px;
}
h4{
  font-size: 35px;
  font-weight: 600;
  line-height: 70px;
}
h5{
  font-size: 20px;
  line-height: 25px;
  margin: 5px 0;
}

a{
  color: #33475B;
  text-decoration: none;
}

a:hover{
  color: rgb(0, 145, 174);
}

.float_left{
  float: left;
}
.float_right{
  float: right;
}
.clear{
  content: "";
  display: table;
  clear: both;
}
.padding_default{
  padding: 0 200px;
}
.button_orange{
  color:#fff;
  background-color: #FE775A;
  border-radius: 5px;
  font-size: 15px;
  border: none;
}
/* /REGOLE GENERALI */


/* REGOLE MENU */
.menu_top{
  position: fixed;
  top:0;
  height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid black;
  z-index: 3;
}
.menu_top_left{
  width: 50%;
  height:100%;
  line-height: 80px;
  vertical-align: middle;
}
.menu_top_left span{
  padding: 0 5px;
}
.menu_top_right{
  width: 50%;
  height:100%;
  line-height: 80px;
  vertical-align: middle;
  text-align: right;
}
.menu_top_right .button_orange{
  padding: 10px 20px;
  margin:0 10px;
}
.button_login{
  color: #FE775A;
  background-color: #fff;
  border: 2px solid #FE775A;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  margin:0 10px;
}
button.button_login:hover{
  color:#fff ;
  background-color: #FE775A;
  cursor: pointer;
}
button.button_orange:hover{
  color: rgb(0, 145, 174);
  cursor: pointer;
}
.ico_blue{
  color:#1FAFC5;
}
/* /fine regole menu top */
.menu_bottom{
  height: 80px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  margin-top: 80px;
}
.menu_bottom_left{
  width: 30%;
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
}
.menu_bottom_right{
  width: 70%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  text-align: right;
}
.menu_bottom_right ul{
  list-style: none;
}
.menu_bottom_right  li{
  position: relative;
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  margin: 0 15px;
}
.menu_bottom_right li span{
  margin: 0 15px;
}
/* /fine regole menu bottom */

/* regole sottomenu */
.sotto_menu ul ul {
	position: absolute;
	top: 80px;
  left: 0;
  width: inherit;
	visibility: hidden;
  z-index: 2;
  background-color: #F4F9FD;

}
.sotto_menu ul li:hover ul {
	visibility: visible;
}
.sotto_menu ul ul > li {
  margin:0;
  padding: 0 20px;
  width: inherit;
  border-bottom: 1px solid black;
  background-color: #F4F9FD;
}
/* REGOLE MAIN */
.jumbo{
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 76%;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo_display{
  width: 50%;
  padding-top: 80px;
}
.jumbo_display p{
  font-size: 20px;
  line-height: 45px;
  margin: 20px 0;
}
.button_jumbo{
  margin: 20px 0;
  padding: 20px 40px;
}
/* /fine regole jumbo */
.banner_empty{
  position: absolute;
  bottom:0;
  height: 80px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
/* /fine regole banner empty */
/* REGOLE SERVICES */
.services{
  background-color: #F4F9FD;
}
.services p{
  font-size: 15px;
  line-height: 25px;
  margin: 5px 0;
}
.services_box_border{
  box-shadow: 0 0 11px #eaf0f6;
  border-radius: 5px;
}
.services i{
  margin-top: 15px;
  color: #FE775A;
  margin-right: 30px;
}
.services img{
  height: 100px;
}
.services button{
  margin-top: 100px;
}
/* /regole generali services */

/* primo box */
.services_one{
  width: 50%;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}
.services_one p{
  margin-top: 50px;
}
#service_one_img{
  height: 200px;
}
/* secondo box */
.services_two{
  width: 100%;
  margin: auto;
  height: 300px;
  padding: 50px 0;
  margin-top: 50px;
}
.services_two_img{
  width: 40%;
  height: 300px;
  text-align: center;
}
.services_two_text{
  width: 40%;
  height: 300px;
}
.popolar_feature{
  margin-top: 40px;
  line-height: 25px;
  vertical-align: middle;
}
.popolar_feature_text{
  width: 190px;
}
.popolar_feature_hr{
  width: 300px;
}
.popolar_feature_hr hr{
  margin-top: 1em;
}
.services_two_text span{
  margin-top: 15px;
  margin-right: 30px;
}
.services_tree{
  height: 500px;
  width: 100%;
  text-align: center;
}
/* terza riga box */
.services_tree_box{
  width: 30%;
  margin-top: 50px;
  padding: 50px;
}
.services_tree_box_margin{
  margin: 50px 5%;
}
.services_tree_box p{
  margin: 20px 0;
}
.services_tree_box hr{
  margin: 30px 0;
}
.services_tree_box_popolarfeatures{
  text-align: left;
  margin: 20px 0;
}

.services_tree_box a{
  color: rgb(0, 145, 174);
  font-weight: 500
}

/* REGOLE NUMBER */
.numbers{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
.numbers h2{
  color: #fff;
}
.numbers h5{
  color: #fff;
  padding: 50px 0;
}
.numbers p{
  color: #fff;
}
.numbers_text{
  padding: 50px 0;
  text-align: center;
}
.numbers_table_box {
  width: 100%;
  height: 600px;
}
.numbers_table_box table{
  width: 100%;
  height: 500px;
  text-align: center;
}
.numbers_table_box td {
  border-right: 1px solid #fff;
}
.numbers_table_box td:last-child {
  border-right: none;
}
.numbers_table_box tr:first-child td {
  border-bottom: 1px solid #fff;
}
/* REGOLE PARTNERS */
.partners{

}
/* regole prima riga */
.partners_first_row{
  width: 100%;
  height: 300px;
  margin: 30px 0;

}
.partners_first_row_left{
  width: 30%;
  padding: 50px 100px;
}
.partners_first_row_right{
  width: 70%;
  padding: 50px 0px;
}
.partners_logo_row{
  height: 100px;
}
.partners_logo_box{
  width: 200px;
  height: 100%;
  margin: 0 20px;
}

#logo1{
  background-image: url(../img/partners/1_Atlassian-horizontal-blue@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo2{
  background-image: url(../img/partners/2_doordash_owler_20181011_194113_original@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo3{
  background-image: url(../img/partners/3_g2crowd-logo@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo4{
  background-image: url(../img/partners/4_purple-logo@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo5{
  background-image: url(../img/partners/5_Subaru_Logo_v2_186x63@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo6{
  background-image: url(../img/partners/6_Wistia_logo@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo7{
  background-image: url(../img/partners/7_Classpass-logo@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#logo8{
  background-image: url(../img/partners/8_VMware_logo_gry_RGB_300dpi@2x.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* regole second riga */
.partners_second_row{
  width: 100%;
  height: 500px;
  margin: 30px 0;
}
.partners_second_row_left{
  width: 70%;
  padding-right: 450px;
}

.partners_second_row_right{
  width: 30%;
  text-align: right;
}
.partners_second_row_right img{
  height:400px;
}
.partners_second_row_left h3{
  margin: 30px 0;
}
.partners_second_row_left p{
  margin: 30px 0;
}
/* REGOLE FOOTER */
footer a{
  text-decoration: none;
  color: #cbd6e2;
  font-size: 15px;
  font-weight: 500;
  line-height: 38px;
  text-transform: capitalize;
}
.footer_top{
  background-color:#33475B;
}
.footer_top_menu{
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  border-bottom: 1px solid white;
}
.footer_top_menu_languages{
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.footer_top_menu_col{
  width: 25%;
}
.footer_top_menu_col h5{
  color: #fff;
  font-weight: 700;
  margin: 10px 0;
}
.footer_top_menu ul{
  list-style: none;
}

.footer_top_menu_col i{
  color: #cbd6e2;
  font-size: 20px;
  margin-top:15px;
  margin-right: 20px;
}
.footer_top_menu_col i:hover{
  color: rgb(0, 145, 174);
  cursor: pointer;
}
.footer_top_menu_col button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 15px 0;
}
.footer_top_menu_col button:hover{
  background-color: rgb(0, 145, 174);
  cursor: pointer;
}
.footer_top_menu_languages li{
  margin-right: 40px;
}
.footer_bottom{
  width: 100%;
  background-color:#33475B;
  color: red;
}
.footer_bottom_left{
  width: 50%;
  padding: 50px 0;
}
.footer_bottom_left img{
  margin: 10px 0;
}
.footer_bottom_left p{
  color:#cbd6e2;
}
.footer_bottom_right{
  width: 50%;
  padding: 50px 0;
  text-align: right;
}
.footer_bottom_right a{
  margin-left: 15px;
  font-size: 20px;
}
