/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}
h1{
  font-size: 3.438rem;
  line-height: 1.1818;
}
h2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3125;
}
h3{

}
h4{
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.3636;
}
h5{
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.3636;
}
a{
  color: #33475B;
  text-decoration: none;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.clear{
  content: "";
  display: table;
  clear: both;
}
.padding_default{
  padding: 0 200px;
}
.button_orange{
  color:#fff;
  background-color: #FE775A;
  border-radius: 5px;
  font-size: 15px;
}
/* /REGOLE GENERALI */


/* REGOLE MENU */
.menu_top{
  height: 80px;
  width: 100%;
  background-color: #F4F9FD;
  font-size: 20px;
  font-weight: 700;
}
.menu_top_left{
  width: 50%;
  height:100%;
  line-height: 80px;
  vertical-align: middle;
}
.menu_top_left span{
  padding: 0 5px;
}
.menu_top_right{
  width: 50%;
  height:100%;
  line-height: 80px;
  vertical-align: middle;
  text-align: right;
}
.menu_top_right .button_orange{
  padding: 10px 20px;
  margin:0 10px;
}
.button_login{
  color: #FE775A;
  background-color: #fff;
  border: 2px solid #FE775A;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  margin:0 10px;
}
.ico_blue{
  color:#1FAFC5;
}
/* /fine regole menu top */
.menu_bottom{
  height: 80px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
}
.menu_bottom_left{
  width: 30%;
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
}
.menu_bottom_right{
  width: 70%;
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
  text-align: right;
}
.menu_bottom_right ul{
  list-style: none;
}
.menu_bottom_right li{
  display: inline-block;
  line-height: 80px;
  vertical-align: middle;
  margin: 0 15px;
}
.menu_bottom_right li span{
  margin: 0 15px;
}

/* REGOLE MAIN */
.jumbo{
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 13%;
  background-repeat: no-repeat;
  background-color: #FFF4EE;
}
.banner_empty{
  height: 80px;
  width: 100%;
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}
.services{
  height: 900px;
  background-color: #F4F9FD;
}
.numbers{
  height: 700px;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
.partners{
  height: 700px;
  background-color: blue;
}
/* REGOLE FOOTER */
.footer_top{
  height: 300px;
  background-color: #32495B;
}
.footer_bottom{
  height: 200px;
  background-color: blue;
}
